@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

#banner {
  height: 100vh;
  background-image: url(./img/banner.jpg);
  background-size: cover;
  margin-top: -100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner div {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#banner div h1 {
  font-size: 48px;
}

#banner div h2 {
  font-size: 18px;
  padding: 18px;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 80px auto;
      grid-template-columns: auto 80px auto;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-weight: 900;
}

nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav img {
  width: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

nav img:hover {
  -webkit-transform: scaleX(-1.2) scaleY(1.2);
          transform: scaleX(-1.2) scaleY(1.2);
}

.content {
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.content * {
  color: #333333;
}

.content .pic {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pic;
}

.content .text-area {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text-area;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .text-area h2 {
  padding: 20px 0;
}

.content .text-area p {
  line-height: 1.8;
  margin-bottom: 30px;
}

.content .text-area a {
  border: 1px solid #333333;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.content .text-area a:hover {
  background-color: #333333;
  color: #ffffff;
}

#content-1,
#content-3 {
      grid-template-areas: "pic text-area";
}

#content-2 {
      grid-template-areas: "text-area pic";
}

#icon {
  background-color: #f8f9fa;
}

#icon * {
  color: #333333;
}

#icon h1 {
  font-size: 48px;
  text-align: center;
  padding: 30px 0 10px;
}

#icon div {
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 20px 0;
}

#icon div div {
  display: block;
  text-align: center;
}

#icon div div img {
  display: block;
  width: 100px;
}

#icon div div:hover img {
  -webkit-filter: invert(51%) sepia(45%) saturate(377%) hue-rotate(218deg) brightness(95%) contrast(86%);
          filter: invert(51%) sepia(45%) saturate(377%) hue-rotate(218deg) brightness(95%) contrast(86%);
}

#icon div div span {
  display: block;
  padding: 14px 0;
  font-size: 18px;
}

#icon div div:hover span {
  color: #937ebf;
}

footer {
  padding: 50px 0;
  background-color: #333333;
  text-align: center;
}

footer img {
  width: 200px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

footer p {
  font-size: 10px;
  padding: 20px 0;
}

#menu {
  display: none;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

#menu a.current {
  background-color: #937ebf;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  color: #ffffff !important;
}

#menu:active #menu-box {
  right: -950px;
}

#menu:hover #menu-box {
  right: -950px;
}

#menu #menu-box {
  position: absolute;
  top: 0;
  right: -1450px;
  width: 500px;
  height: 100vh;
  background-color: #ffffff;
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

#menu #menu-box ul {
  list-style: none;
}

#menu #menu-box ul li {
  padding: 30px;
}

#menu #menu-box ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 36px;
}

@media screen and (min-width: 769px) {
  nav {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  nav ul {
    display: none;
  }
  #menu {
    display: block;
  }
  #content-1, #content-2, #content-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "pic" "text-area";
  }
  #content-1 .pic, #content-2 .pic, #content-3 .pic {
    text-align: center;
  }
  #content-1 .text-area, #content-2 .text-area, #content-3 .text-area {
    padding: 0 200px;
  }
  #icon div {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 50px;
  }
}
/*# sourceMappingURL=style.css.map */