* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

// 橫幅
#banner {
    height: 100vh;
    background-image: url(./img/banner.jpg);
    background-size: cover;
    margin-top: -100px;
}

nav {
    display: grid;
    grid-template-columns: auto 80px auto;
    text-align: center;
    position: sticky;
    top: 0;
    height: 100px;
    // 使用格線可讓內容垂直對齊
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    ul {
        list-style: none;

        li {
            display: inline-block;
            transition: 0.5s;

            a {
                text-decoration: none;
                color: #fff;
                padding: 10px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    img {
        width: 80px;
        transition: 0.5s;
        transform: scaleX(-1);

        &:hover {
            transform: scaleX(-1.1) scaleY(1.1);
        }
    }
}